


.title {
  cursor: pointer;
  background-color: #406eb7;
  padding: 5px 8px;
  border-bottom: 1px solid #9f0092;
  margin: 0;
}

.content {
  overflow: hidden;
  font-size: 18px;
  background: transparent;
}

.content-wrapper {
  padding: 5px 8px 20px 8px;
}
