.accordion {
  background: #F4F4F4F4;
  margin-bottom: 2%;
  margin-left: 4%;
  max-width: 90%;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.accordion__panel {
  background: white;
}

/* .accordion__headding {
  max-width: 80%;
} */

.accordion__button {
  max-width: 90%;
  padding-right: 8px;
}

.accordion__button:before {
  height: 5px;
  width: 5px;
  color: #0082c8;
}

.accordion__content {
  color: #0082c8;
}