.feedback-button {
  height: 45px;
  border: solid 3px #0082c8;
  background: #333;
  width: 110px;
  line-height: 35px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: #FFFFFF;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 45%;
  font-family: "Raleway", helvetica, arial, sans-serif;
  z-index: 999;
  background-color: #0082c8;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  cursor: pointer;
  transition: all .2s;
}

.feedback-button:hover {
  color: #0082c8;
  background-color: #fff;
}