.feedback-button {
  height: 40px;
  border: solid 3px #3c4856;
  background: #333;
  width: 100px;
  line-height: 32px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: #FFFFFF;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 17px;
  position: fixed;
  right: -40px;
  top: 45%;
  font-family: "Roboto", helvetica, arial, sans-serif;
  z-index: 999;
  background-color: #3c4856;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  cursor: pointer
}