.stats {
  text-align: center;
}
.stats__profile {
  padding: 40px 50px 50px;
  background-color: rgba(111,148,188, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.stats__profile-container {
    justify-content: center;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stats__profile-item {
  display: flex;
  text-align: left;
  margin: 1rem;
}

.stats__profile-header {
  margin: 10px 0 20px;
}

.stats__item-name {
  margin: 7px;
}

.stats__repo-button {
  margin: 1rem;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
}

.stats__improve {
  font-weight: bold;
}

.stats__link {
  color:#0082C8;
}

.stats__average {
  padding: 40px 20% 50px;
  margin-top: 20px;
  background-color: rgba(230,244,241, 0.4);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1)
}

.stats__pinnedRepos {
  padding: 40px 50px;
  background-color: rgba(111,148,188, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}