.stats {
  text-align: center;
}
.stats__profile {
  padding: 40px 50px 50px;
  background-color: rgba(111,148,188, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  margin: 3rem;
  margin-right: 0;
}

.stats__profile-container {
    justify-content: center;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stats__profile-item {
  display: flex;
  text-align: left;
  margin: 1rem;
}

.stats__profile-item:first-child,
.stats__profile-item:nth-child(5) {
  margin-left: 0;
} 

.stats__profile-header {
  margin: 10px 0 20px;
}

.stats__item-name {
  margin: 7px;
}

.stats__repo-button {
  margin: 1rem;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
}

.stats__improve {
  font-weight: bold;
}

.stats__link {
  color:#0082C8;
}

.stats__average {
  padding: 2rem;
  margin-top: 20px;
}

.stats__pinnedRepos {
  padding: 40px 50px;
  background-color: rgba(111,148,188, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  height: 500px;
  margin: 3rem;
  margin-right: 0;
}

.col-1-of-3 {
  width: 25%;
  border-right: 1px solid rgba(0,0,0, .1);
}

.col-2-of-3 {
  margin-left: 1rem;
  width: 75%;
}

.row {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  width: 85%;
}

