.progressbar {
  padding: 40px 200px 50px;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(230,244,241, 0.4);
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.progressbar__bar {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.progressbar__profile,
.progressbar__repos,
.progressbar__rest {
  height: 10px;
  flex-grow: 1;
}

.progressbar__profile {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #37867E;
}

.progressbar__repos {
  background-color: #99EE86;
}

.progressbar__rest {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #e2e2e2;
}

.progressbar__labels {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.progressbar__label {
  padding-left: 25px;
  margin: 0 20px 10px 20px;
  position: relative;
}

.progressbar__label::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 2px;
  border-radius: 50%;
}

.progressbar__label--profile::before {
  background-color: var(--color-orange);
}

.progressbar__label--repos::before {
  background-color: var(--color-blue);
}

h1 {
  margin: 20px 0;
}