.tabs-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 45px 0 0;
  list-style: none;
  background-color: var(--background-color-dark);
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}

.tabs-list__tab {
  width: 30%;
  display:inline-block;
  padding:0.6em 1.2em;
  margin:0.3em 0.1em 0.3em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color: #0082C8;
  cursor: pointer;
  text-align:center;
  transition: all 0.2s;
  position: relative;
}

.tabs-list__tab:hover {
  background-color: #00A4D6;
  animation:bouncy 5s infinite linear;
}
.tabs-list__tab:active {
  background-color:#00937B;
}
.tabs-list__tab--active {
  font-style: italic;
  background-color:#00937B;
}

.tabs-list__content {
  display: none;
  width: 65%;
  min-height: 380px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  background-color:white;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 15px;
}
.tabs-list__tab--active + .tabs-list__content {
  display: block;
}

li {
  list-style: none;
}

h2 {
  margin: 14px 0 8px;
}

h3 {
  margin: 14px;
  font-size: 22px;
  text-align: center;
}

.advice {
  display: none;
}

.content {
  overflow: hidden;
  font-size: 18px;
  background: rgba(255, 254, 254, 0.8);
  border-radius: 10px;
  margin: 0 30px;
}

.content-wrapper {
  padding: 10px 8px 10px 8px;
  font-size: 14px;
}

.stats {
  width: 80%;
  margin: 20px auto 0;
}

.stats-breakdown {
  display: none;
  position: absolute;
  right: 0;
  top: 65px;
  text-align: center;
}

.stats-breakdown--active {
  display: block;
  color: black;
}

.stats__repos {
  text-align: left;
  position: relative;
  margin-left: 15px;
  display: flex;
  justify-content: center;
}

.stats__header {
  border-bottom: 1px solid black;
  width: 25%;
  padding:10px 1.2em;
  margin:0 0.1em 0.1em 0;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
  text-align: center;
}

.stats__header:hover {
  background-color:rgba(255, 255, 255, 0.845);
}

.stats__header--active {
  border-bottom: 3px solid #0082C8;
}

.stats-breakdown li {
  margin-top: 5px;
  position: relative;
  padding-right: 50px;
}


.stats-breakdown li::after {
  content: "";
  position: absolute;
  background: url(../img/arrow-right.svg) no-repeat 0 0;
  background-size: contain;
  top: 0;
  right: 20%;
  width: 19px;
  height: 15px;
}


.stats-breakdown__item--active::after {
  background: url(../img/arrow-down.svg) no-repeat 0 0 !important;
  right: 20.6% !important;
}

.stats-breakdown li:hover::after {
  margin-bottom: -5px;
}

.stats-breakdown__points {
  cursor: auto;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px !important;
}

.stats-breakdown__points::after {
  width: 0 !important;
  height: 0 !important;
}

.stats-breakdown__points:hover::after {
  width: 0;
  height: 0;
}

.stats__description {
  margin: 0 0 8px;
  font-size: 12px;
  text-align: center;
}