body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  background-size: 400px 400px, 10px 10px;
  padding: 0 3% 1.875em;
  min-width: 20em;
  max-width: 81.25em;
  margin: 0 auto;
  color: black;
}

.error {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 25px;
  padding: 2rem;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
